.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #f06626;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  color: #6200ff;
  border-radius: 3px;
  transition: all .2s;
}

button:hover,
button:active {
  background-color: #6200ff;
  color: white;
}
