//- We'll do the same thing that we did for error-404.pug i.e., extend from the 'main-layout.pug' file and define the blocks that are different for this particular view

extends layouts/main-layout.pug

//- In this case, we need different styling which are forms.css and product.css and so, we include them inside the {styles} block

block styles
  link(rel="stylesheet" href="/css/forms.css")
  link(rel="stylesheet" href="/css/product.css")

//- Now all the content can go inside the {content} block below
block content
  main
    form.product-form(action="/admin/add-product", method="POST")
      //- L23 is same as `div.form-control`
      .form-control
        label(for="title") Title
        //- L27 can also be written as: `input(type="text" name="title" id="title")`
        input(type="text" name="title")#title
      button.btn(type="submit") Add Product

//- All of the code inside the blocks will be injected to where the block hooks are defined.
