<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <!-- Use EJS Tag i.e., '<%  %>' to write vanilla JS code, as seen below -->
    <% if (products.length <= 0) { %> <!-- Opening tag has to be closed wherever we want the HTML block to end -->
      <h1>No Products</h1>
    <% } else { %> <!-- Closing brace for 'if' and start using 'else' right here --> 
      <h1>My Products</h1>
      <p>List of all the products...</p>
      <% products.forEach(product => { %>
        <div class="grid">
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title"><%= product.title %></h1>
            </header>
            <div class="card__image">
              <img src="http://james-hare.com/images/imagenotfound.jpg" alt="Image for 'Not Found Image'">
            </div>
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__description">A very interesting book about so many even more interesting things!</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
        </div>
      <% }) %> <!-- Closing brace for products.forEach --> 
    <% } %> <!-- Closing brace for else --> 
  </main>
<%- include('./includes/end.ejs') %>
