//- 1. Indentation matters in Pug.
//- 2. There are no tags in Pug templates.
//- 3. Template written in Pug will be converted to HTML by 
//-    the templating engine (Pug).
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Shop
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a.active(href="/admin/add-product") Add Product

//- This particular template code written in Pug will be 
//- converted into HTML code by the Pug templating engine
