extends layouts/main-layout.pug

//- In this case, we need different styling which is product.css and so, we include them inside the {styles} block

block styles
  link(rel="stylesheet" href="/css/product.css")

//- Now all the content can go inside the {content} block below
block content
  main
    //- 
      If there are no `products`, we can show something like 'No Products' as follows
    if products.length <= 0
      h1 No Products
    else
      //- 
        We can iterate through all the `products` passed from
        the render() method using 'each' method as follows:
      each product in products
        //- .class_name is same as <div class="class_name"></div>
        .grid
          //- same as: <article class="card product-item">
          article.card.product-item
            header.card__header
              //- Use the `product` object as follows
              h1.product__title #{product.title}
            div.card__image
              img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Atharva-Veda_samhita_page_471_illustration.png/800px-Atharva-Veda_samhita_page_471_illustration.png", alt="Vedas")
            div.card__content
              h2.product__price $19.99
              p.product__description A very interesting book about so many even more interesting things!
            div.card__actions
              button.btn Add to Cart


//- All of the code inside the blocks will be injected to where the block hooks are defined.
