<!-- Whatever is supposed to be the common head portion for all the templates, is inside the head template -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= docTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
