<header class="header">
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__list-item">
        <a href="/" class="<%= (path && path === '/') ? 'active' : '' %>">Home</a>
      </li>
      <li class="header-nav__list-item">
        <a href="/users" class="<%= (path && path === '/users') ? 'active' : '' %>">Users</a>
      </li>
    </ul>
  </nav>
</header>
