doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    header.header
      nav.header__navigation
        ul.header__navigation-list
          li.header__navigation-list-item #[a.link(href="/", class=(path && path === '/' ? 'active' : '')) Home]
          li.header__navigation-list-item #[a.link(href="/users", class=(path && path === '/users' ? 'active' : '')) Users]
    main
      block content
