.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-heading {
  font-size: var(--xxxl-font);
}

.home-navigation {
  font-size: var(--xl-font);
}
