extends layouts/main.pug

block content
  h1 Error 404: Page Not Found!
  //- The anchor tag below is tag interpolation: https://pugjs.org/language/interpolation.html#tag-interpolation
  h3 Please navigate back to the #[a(href="/") Home Page].
