extends layouts/main.pug

block styles
  link(rel="stylesheet", href="/css/users.css")

block content
  if users.length <= 0
    p.main-info No users found. Please add new users by navigating to the #[a(href="/") Home Page].
  else
    .main-users
      ul.main-users__list
        each user in users
          li.main-users__list-item #{user}
