<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404: Page Not Found!</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <ul class="header__navlist">
        <li class="header__navlistitem"><a href="/">Home</a></li>
        <li class="header__navlistitem"><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <h1 class="main__header">Error 404: Page Not Found</h1>
  </main>
</body>
</html>
