<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/users.css">
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <ul class="header__navlist">
        <li class="header__navlistitem"><a href="/">Home</a></li>
        <li class="header__navlistitem selected"><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <h1 class="main__header">Users</h1>
    <p class="main__text">This is "/users" route...</p>
    <p class="main__list--title">These are some users</p>
    <ul class="main__list">
      <li class="main__listitem">Ram</li>
      <li class="main__listitem">Roop</li>
      <li class="main__listitem">Siva</li>
      <li class="main__listitem">Ramki</li>
      <li class="main__listitem">Padma</li>
    </ul>
  </main>
  <script src="/js/greet.js"></script>
</body>
</html>
