<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home | Address</a></li>
      <li class="main-header__item"><a href="/users" class="<%= path === '/users' ? 'active' : '' %>">Users List</a></li>
    </ul>
  </nav>
</header>
