<main class="error">
  <section class="error-section">
    <h1 class="error-heading">404 Not Found!</h1>
    <h3 class="error-navigate-home">Navigate to <a href="/">Home Page</a>.</h3>
  </section>
</main>
